body {
background : grey;
font-family : Verdana, Geneva, sans-serif;
font-size : 14px;
}

div.banner {
width : 95%;
height : 100%;
margin-right:auto;
margin-left:auto;
text-align : center;
border : 2px solid #a1a1a1;
padding : 10px 20px; 
background : snow;
border-radius:25px;
}

div.main {
/* text-align : justify; */
width : 750px;
margin-right:auto;
margin-left:auto;
border : 2px solid #a1a1a1;
padding : 10px 20px; 
background : snow; /* What colour is best, snow or seashell? */
border-radius:25px;
}

div.flright {
float : right;
width : 350px;
text-align : center;
margin-right : 5px;
border : 2px solid #a1a1a1;
padding : 10px 20px; 
background : #dddddd;
border-radius:25px;
}

h1 {
margin-left : 30px;
}