<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{page.title | strip_html}}</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="/embed/main.css" type="text/css">
        <script type="text/javascript" src="/embed/jwplayer.js"></script>
        {% if page.custom_css != null %}
            <style type="text/css">
                {{page.custom_css}}
            </style>
        {% endif %}
    </head>
{{content}}
</html>