<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            window.location.replace("{{page.dest}}");
        </script>
        <META HTTP-EQUIV="refresh" CONTENT="2;url={{page.dest}}">
        <link rel="shortcut icon" href="/favicon.ico">
        <title>Redirect</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <center>
            <INPUT Type="button" VALUE="Continue" onClick="parent.location='{{page.dest}}'">
        </center>
    </body>
</html>
